/* Begin Description Tab CSS */

.descriptionTabClickedTrue {
  display: grid;
  grid-template-rows: 10% 85% 5%;
  grid-template-columns: 60% 40%;
  font-family: Roboto, serif;
  color: #555555;
  visibility: visible;
  margin-left: 17px;
}

.descriptionTabClickedFalse {
  visibility: hidden;
}

.header {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(245, 245, 245);
  height: 60px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.descriptionTabClickedTrue .description {
  grid-row-start: 2;
  grid-column-start: 1;
  font-size: 13px;
}

.descriptionTabClickedTrue .DescriptionTab {
  cursor: pointer;
  vertical-align: middle;
  padding: 20px;
  border-top: 2px solid orange;
  border-left: 1px solid rgb(224, 224, 224);
  border-right: 1px solid rgb(224, 224, 224);
  background-color: white;
}

.descriptionTabClickedTrue .header .DescriptionTab {
  border-bottom: 20px solid white;
}

.descriptionTabClickedTrue .NutritionalInfoTab {
  cursor: pointer;
  vertical-align: middle;
  padding: 20px;
  /* border-bottom: 2px solid rgb(224, 224, 224); */
}

.descriptionTabClickedTrue .NutritionalInfoTab:hover {
  background-color: white;
}

.descriptionTabClickedTrue .FeedingInstructionsTab {
  cursor: pointer;
  vertical-align: middle;
  padding: 20px;
  /* border-bottom: 2px solid rgb(224, 224, 224); */
}

.descriptionTabClickedTrue .FeedingInstructionsTab:hover {
  background-color: white;
}

.FeedingInstructionsTabText {
  margin-top: 3px;
  font-weight: bold;
}
.NutritionalInfoTabText {
  margin-top: 3px;
  font-weight: bold;
}
.DescriptionTabText {
  margin-top: 3px;
  font-weight: bold;
}

.descriptionTabClickedTrue .DescriptionText .title {
  padding-top: 15px;
  font-size: 25px;
  font-weight: 300;
  margin: 0 auto;
}

.descriptionTabClickedTrue .DescriptionText .value {
  line-height: 20px;
  max-width: 600px;
  margin-right: 25px;
  font-weight: 300;
}

.descriptionTabClickedTrue .keyBenefitsTextBullets {
  height: 370px;
  margin-right: 25px;
  font-weight: 300;
}

.descriptionTabClickedTrue .keyBenefitsTextBullets .title {
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0;
}

.descriptionTabClickedTrue .keyBenefitsTextBullets li {
  margin: 15px 0;
  line-height: 20px;
}

.descriptionTabClickedTrue .descriptionTabClickedTrue .SideBar {
  grid-row-start: 2;
  grid-column-start: 2;
  max-width: 350px;
  margin: 0 25px;
}

.descriptionTabClickedTrue .SideBarVideo {
  width: 225px;
  margin-top: 50px;
}

.descriptionTabClickedTrue .SideBarVideo .video-title {
  font-size: 10px;
  text-align: center;
}

.descriptionTabClickedTrue .SideBarGraph {
  display: grid;
  max-width: 200px;
}

.descriptionTabClickedTrue .SideBarGraph ul {
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 6px;
  border-top: 1px solid  rgb(245, 245, 245);;
}

ul.GATitle {
  background-color: #F5F5F5;
}

.descriptionTabClickedTrue a {
  color: #0E70BE;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
}

.descriptionTabClickedTrue .SideBarGraph li .title {
  float: left;
  width: 110px;
  font-size: 10px;
  font-weight: 300;
  line-height: inherit;
  color: #9b9b9b;
  padding-right: 5px;
}

.descriptionTabClickedTrue .SideBar li .value {
  font-size: 12px;
  font-weight: 300;
  color: #555;
}

.descriptionTabClickedTrue .Footer {
  grid-row-start: 3;
  grid-column-start: 1;
}

/* Begin Nutritional Tab CSS */

.nutritionalInfoTabClickedTrue {
  display: grid;
  grid-template-rows: 17% 73%;
  grid-template-columns: 60% 40%;
  font-family: Roboto, serif;
  color: #555555;
  visibility: visible;
  margin-left: 17px;
}

.nutritionalInfoTabClickedTrue .DescriptionTab {
  cursor: pointer;
  vertical-align: middle;
  padding: 20px;
  /* border-bottom: 2px solid rgb(224, 224, 224); */
}

.nutritionalInfoTabClickedTrue .DescriptionTab:hover {
  background-color: white;
}

.nutritionalInfoTabClickedTrue .NutritionalInfoTab {
  cursor: pointer;
  vertical-align: middle;
  padding: 20px;
  border-top: 2px solid orange;
  border-left: 1px solid rgb(224, 224, 224);
  border-right: 1px solid rgb(224, 224, 224);
  background-color: white;
}

.nutritionalInfoTabClickedTrue .header .NutritionalInfoTab {
  border-bottom: 20px solid white;
}

.nutritionalInfoTabClickedTrue .FeedingInstructionsTab {
  cursor: pointer;
  vertical-align: middle;
  padding: 20px;
  /* border-bottom: 2px solid rgb(224, 224, 224); */
}

.nutritionalInfoTabClickedTrue .FeedingInstructionsTab:hover {
  background-color: white;
}

.nutritionalInfoTabClickedFalse {
  visibility: hidden;
}

.nutritionalInfoTabClickedTrue .NutritionalInfoText {
  grid-row-start: 2;
  grid-column-start: 1;
  font-size: 13px;
  vertical-align: middle;
  line-height: 20px;
  max-width: 600px;
}

.nutritionalInfoTabClickedTrue .NutritionalInfoText .title {
  padding-top: 20px;
  font-size: 25px;
  font-weight: 300;
  margin: 0 auto;
}

.nutritionalInfoTabClickedTrue .IngredientsText .title {
  font-size: 20px;
}

.nutritionalInfoTabClickedTrue .IngredientsText .value {
  margin-right: 25px;
  font-weight: 300;
}

.nutritionalInfoTabClickedTrue .CaloricContentText .title {
  font-size: 20px;
}

.nutritionalInfoTabClickedTrue .GuaranteedAnalysisTable {
  grid-row-start: 2;
  grid-column-start: 2;
  max-width: 250px;
  margin: 0 25px;
  display: grid;
  margin-top: 50px;
}

.nutritionalInfoTabClickedTrue .GuaranteedAnalysisDiv ul {
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 6px;
  border-top: 1px solid rgb(224, 224, 224);
}

.nutritionalInfoTabClickedTrue .GuaranteedAnalysisDiv li .title {
  float: left;
  width: 110px;
  font-size: 10px;
  font-weight: 300;
  line-height: inherit;
  color: #9b9b9b;
  padding-right: 5px;
}

.nutritionalInfoTabClickedTrue .GuaranteedAnalysisDiv li .value {
  font-size: 13px;
  font-weight: 300;
  color: #555;
}

/* Begin Feeding Instructions Tab CSS */

.feedingInstructionsClickedTrue {
  display: grid;
  grid-template-rows: 9% 91%;
  grid-template-columns: 60% 40%;
  font-family: Roboto, serif;
  color: #555555;
  visibility: visible;
  margin-left: 17px;
}

.feedingInstructionsClickedFalse {
  visibility: hidden;
}

.feedingInstructionsClickedTrue .DescriptionTab {
  cursor: pointer;
  vertical-align: middle;
  padding: 20px;
  /* border-bottom: 2px solid rgb(224, 224, 224); */
}

.feedingInstructionsClickedTrue .DescriptionTab:hover {
  background-color: white;
}

.feedingInstructionsClickedTrue .NutritionalInfoTab {
  cursor: pointer;
  vertical-align: middle;
  padding: 20px;
  /* border-bottom: 2px solid rgb(224, 224, 224); */
}

.feedingInstructionsClickedTrue .NutritionalInfoTab:hover {
  background-color: white;
}

.feedingInstructionsClickedTrue .FeedingInstructionsTab {
  cursor: pointer;
  vertical-align: middle;
  padding: 20px;
  border-top: 2px solid orange;
  border-left: 1px solid rgb(224, 224, 224);
  border-right: 1px solid rgb(224, 224, 224);
  background-color: white;
}

.feedingInstructionsClickedTrue .header .FeedingInstructionsTab {
  border-bottom: 20px solid white;
}

.feedingInstructionsClickedTrue .DescriptionTabText {
  vertical-align: middle;
}

.feedingInstructionsClickedTrue .NutritionalInfoTabText {
  vertical-align: middle;
}

.feedingInstructionsClickedTrue .FeedingInstructionsText .title {
  grid-row-start: 2;
  grid-column-start: 1;
  padding-top: 20px;
  font-size: 25px;
  font-weight: 300;
  margin: 0 auto;
  margin-top: 20px;
}

.feedingInstructionsClickedTrue .FeedingInstructionsText .value {
  padding-top: 25px;
  font-size: 12px;
  max-width: 600px;
  padding-right: 15px;
  font-weight: 300;
}

th {
  padding: 0 20px;
}

td {
  padding: 10px 20px;
}

.weightCol {
  color: #9B9B9B;
}

thead {
  background-color: rgb(245, 245, 245);
}

.feedingInstructionsClickedTrue .transitionInstructionsText {
  grid-row-start: 2;
  grid-column-start: 1;
  /* height: 200px; */
  line-height: 20px;
}

.feedingInstructionsClickedTrue .transitionInstructionsText .title {
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0;
}

.feedingInstructionsClickedTrue .transitionInstructionsText .value {
  font-size: 13px;
  font-weight: 300;
  margin: 10px 0;
  max-width: 600px;
}

.feedingInstructionsClickedTrue .keyBenefitsTextBullets li {
  margin: 15px 0;
}

.feedingInstructionsClickedTrue .SideBarGraph {
  display: grid;
  max-width: 450px;
}

.feedingInstructionsClickedTrue .SideBarGraph ul {
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 6px;
  border-top: 1px solid rgb(224, 224, 224);
}

.feedingInstructionsClickedTrue a {
  color: #0E70BE;
  text-decoration: none;
  font-size: 15px;
}

.feedingInstructionsClickedTrue .SideBarGraph li .title {
  float: left;
  width: 110px;
  font-size: 12px;
  font-weight: 300;
  line-height: inherit;
  color: #9b9b9b;
  padding-right: 5px;
}

.feedingInstructionsClickedTrue .SideBar li .value {
  font-size: 12px;
  font-weight: 300;
  color: #555;
}