.descriptionTab {
  display: grid;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: 60% 40%;
}

.headers {
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 15px;
}

.description {
  grid-row-start: 2;
  grid-column-start: 1;
}

.sideBarVideo {
  grid-row-start: 2;
  grid-column-start: 2;
}

.sideBarGraph {
  grid-column-start: 2;
  grid-row-start: 2;
}

.footers {
  grid-row-start: 3;
  grid-column-start: 1;
}