.descriptionTabClickedTrue {
  display: grid;
  grid-template-rows: 10% 85% 5%;
  grid-template-columns: 60% 40%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #555555;
  visibility: visible;
  /* Roboto, "Franklin Gothic Medium", Tahoma, sans-seri */
}

.descriptionTabClickedFalse {
  visibility: hidden;
}

.header {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
}

.descriptionTabClickedTrue .description {
  grid-row-start: 2;
  grid-column-start: 1;
  font-size: 12px;
}

.descriptionTabClickedTrue .DescriptionTab {
  vertical-align: middle;
  padding: 20px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.descriptionTabClickedTrue .NutritionalInfoTab {
  vertical-align: middle;
  padding: 20px;
  border-bottom: 1px solid black;
}

.descriptionTabClickedTrue .FeedingInstructionsTab {
  vertical-align: middle;
  padding: 20px;
  border-bottom: 1px solid black;
}

.descriptionTabClickedTrue .DescriptionText .title {
  padding-top: 15px;
  font-size: 25px;
  font-weight: 300;
  margin: 0 auto;
}

.descriptionTabClickedTrue .keyBenefitsTextBullets {
  height: 370px;
}

.descriptionTabClickedTrue .keyBenefitsTextBullets .title {
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0;
}

.descriptionTabClickedTrue .keyBenefitsTextBullets li {
  margin: 15px 0;
}

.descriptionTabClickedTrue .descriptionTabClickedTrue .SideBar {
  grid-row-start: 2;
  grid-column-start: 2;
  max-width: 350px;
  margin: 0 25px;
}

.descriptionTabClickedTrue .SideBarVideo {
  width: 225px;
  margin: 0 auto;
}

.descriptionTabClickedTrue .SideBarVideo .video-title {
  font-size: 10px;
  text-align: center;
}

.descriptionTabClickedTrue .SideBarGraph {
  display: grid;
  max-width: 450px;
}

.descriptionTabClickedTrue .SideBarGraph ul {
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 6px;
  border-top: 1px solid rgb(224, 224, 224);
}

.descriptionTabClickedTrue a {
  color: #0E70BE;
  text-decoration: none;
  font-size: 15px;
}

.descriptionTabClickedTrue .SideBarGraph li .title {
  float: left;
  width: 110px;
  font-size: 10px;
  font-weight: 400;
  line-height: inherit;
  color: #9b9b9b;
  padding-right: 5px;
}

.descriptionTabClickedTrue .SideBar li .value {
  font-size: 12px;
  font-weight: 400;
  color: #555;
}

.descriptionTabClickedTrue .Footer {
  grid-row-start: 3;
  grid-column-start: 1;
}

/* Begin Nutritional Tab CSS */

.nutritionalInfoTabClickedTrue .DescriptionTab {
  vertical-align: middle;
  padding: 20px;
  border-bottom: 1px solid black;
}

.nutritionalInfoTabClickedTrue .NutritionalInfoTab {
  vertical-align: middle;
  padding: 20px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;}

.nutritionalInfoTabClickedTrue .FeedingInstructionsTab {
  vertical-align: middle;
  padding: 20px;
  border-bottom: 1px solid black;
}

.nutritionalInfoTabClickedTrue {
  display: grid;
  grid-template-rows: 16% 74%;
  grid-template-columns: 60% 40%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #555555;
  visibility: visible;
  /* Roboto, "Franklin Gothic Medium", Tahoma, sans-seri */
}
.nutritionalInfoTabClickedTrue .DescriptionTabText {
  vertical-align: middle;
}

.nutritionalInfoTabClickedTrue .NutritionalInfoTabText {
  vertical-align: middle;
}

.nutritionalInfoTabClickedTrue .FeedingInstructionsText {
  vertical-align: middle;
}

.nutritionalInfoTabClickedFalse {
  visibility: hidden;
}
/*
.nutritionalInfoTabClickedTrue .header {
  height: 69px;
} */

.nutritionalInfoTabClickedTrue .NutritionalInfoText {
  grid-row-start: 2;
  grid-column-start: 1;
  font-size: 12px;
  vertical-align: middle;
}

.nutritionalInfoTabClickedTrue .NutritionalInfoText .title {
  padding-top: 15px;
  font-size: 25px;
  font-weight: 300;
  margin: 0 auto;
}

.nutritionalInfoTabClickedTrue .IngredientsText .title {
  font-size: 20px;
}

.nutritionalInfoTabClickedTrue .CaloricContentText .title {
  font-size: 20px;
}


.nutritionalInfoTabClickedTrue .GuaranteedAnalysis {
  grid-row-start: 2;
  grid-column-start: 2;
  max-width: 350px;
  margin: 0 25px;
  display: grid;
}

/* .nutritionalInfoTabClickedTrue .SideBarVideo {
  width: 225px;
  margin: 0 auto;
}

.nutritionalInfoTabClickedTrue .SideBarVideo .video-title {
  font-size: 10px;
  text-align: center;
}

.nutritionalInfoTabClickedTrue .GuaranteedAnalysis {
  display: grid;
  max-width: 450px;
} */

.nutritionalInfoTabClickedTrue .GuaranteedAnalysis ul {
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 6px;
  border-top: 1px solid rgb(224, 224, 224);
}

.nutritionalInfoTabClickedTrue .GuaranteedAnalysis li .title {
  float: left;
  width: 110px;
  font-size: 10px;
  font-weight: 400;
  line-height: inherit;
  color: #9b9b9b;
  padding-right: 5px;
}

.nutritionalInfoTabClickedTrue .GuaranteedAnalysis li .value {
  font-size: 12px;
  font-weight: 400;
  color: #555;
}


/* Begin Feeding Instructions Tab CSS */

.feedingInstructionsClickedTrue {
  display: grid;
  grid-template-rows: 10% 85% 5%;
  grid-template-columns: 60% 40%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #555555;
  visibility: visible;
  /* Roboto, "Franklin Gothic Medium", Tahoma, sans-seri */
}

.feedingInstructionsClickedFalse {
  visibility: hidden;
}

/* .feedingInstructionsClickedTrue .header {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
} */

.feedingInstructionsClickedTrue .description {
  grid-row-start: 2;
  grid-column-start: 1;
  font-size: 12px;
}

.feedingInstructionsClickedTrue .DescriptionTab {
  vertical-align: middle;
  padding: 20px;
  border-bottom: 1px solid black;
}

.feedingInstructionsClickedTrue .NutritionalInfoTab {
  vertical-align: middle;
  padding: 20px;
  border-bottom: 1px solid black;
}

.feedingInstructionsClickedTrue .FeedingInstructionsTab {
  vertical-align: middle;
  padding: 20px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.feedingInstructionsClickedTrue .DescriptionTabText {
  vertical-align: middle;
}

.feedingInstructionsClickedTrue .NutritionalInfoTabText {
  vertical-align: middle;
}

.feedingInstructionsClickedTrue .FeedingInstructionsText {
  vertical-align: middle;
}

.feedingInstructionsClickedTrue .DescriptionText .title {
  padding-top: 15px;
  font-size: 25px;
  font-weight: 300;
  margin: 0 auto;
}

.feedingInstructionsClickedTrue .keyBenefitsTextBullets {
  height: 370px;
}

.feedingInstructionsClickedTrue .keyBenefitsTextBullets .title {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
}

.feedingInstructionsClickedTrue .keyBenefitsTextBullets li {
  margin: 15px 0;
}

.feedingInstructionsClickedTrue .feedingInstructionsClickedTrue .SideBar {
  grid-row-start: 2;
  grid-column-start: 2;
  max-width: 350px;
  margin: 0 25px;
}

.feedingInstructionsClickedTrue .SideBarVideo {
  width: 225px;
  margin: 0 auto;
}

.feedingInstructionsClickedTrue .SideBarVideo .video-title {
  font-size: 10px;
  text-align: center;
}

.feedingInstructionsClickedTrue .SideBarGraph {
  display: grid;
  max-width: 450px;
}

.feedingInstructionsClickedTrue .SideBarGraph ul {
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 6px;
  border-top: 1px solid rgb(224, 224, 224);
}

.feedingInstructionsClickedTrue a {
  color: #0E70BE;
  text-decoration: none;
  font-size: 15px;
}

.feedingInstructionsClickedTrue .SideBarGraph li .title {
  float: left;
  width: 110px;
  font-size: 10px;
  font-weight: 400;
  line-height: inherit;
  color: #9b9b9b;
  padding-right: 5px;
}

.feedingInstructionsClickedTrue .SideBar li .value {
  font-size: 12px;
  font-weight: 400;
  color: #555;
}

.feedingInstructionsClickedTrue .Footer {
  grid-row-start: 3;
  grid-column-start: 1;
}
