{
    "plugins": ["syntax-dynamic-import"],
    "presets": [
        [
            "@babel/preset-env",
            {
                //refers to different module types
                //allows you to use different ways to import files
                //and modules from different ES's (ES6, ES5, etc.)
                "modules": "auto"
            }
        ]
    ]
}
